@media (max-width: 992px) {
  .about-grid,
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 85px;
    right: -100%;

    width: 260px;

    background: #08111f;

    flex-direction: column;

    padding: 30px;

    transition: 0.4s;
  }

  .navbar.active {
    right: 20px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .hero h1 {
    font-size: 2.3rem;
  }

  .section-header h2 {
    font-size: 2rem;
  }

  .hero-badge {
    margin-top: 5rem;
  }

  .hero-info {
    margin-bottom: 2rem;
  }

  .contact-highlight {
    overflow-wrap: break-word;
  }

  .hero {
    background: url(../assets/imagens/mobilebackground.png);
  }
}
