.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 999;

  transition: var(--transition);
}

.header.scrolled {
  background: rgba(8, 17, 31, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
}

.nav-container {
  height: 85px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}

.logo span {
  color: var(--primary);
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  font-weight: 500;
  transition: var(--transition);
}

.navbar a:hover {
  color: var(--primary);
}

.menu-toggle {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
