.differentials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.diff-card {
  background: white;
  padding: 40px 25px;

  border-radius: 25px;

  text-align: center;

  box-shadow: var(--shadow);

  transition: var(--transition);
}

.diff-card:hover {
  transform: translateY(-8px);
}

.diff-card i {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 20px;
}
